*{
	padding: 10;
	margin: 0;
	box-sizing: border-box;
}

h2{
	font-size: 40px;
}

table {
    letter-spacing: 1.2px;
    color: #000099;
}

td{
	text-align: center;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #0c6bcb;
}

button{
	border:none;
	background: #fff;
    transition: 1s;
}

@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}

